# Prerequisites
*.d
RTT_F429/.settings/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
RTT_F429/build/
RTT_F429/Debug/

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
